:root {
    --song-title-color: #222;
    --song-link-bgcolor: #eee;
    --song-link-bgcolor-hover: #ddd;
    --navbar-drop-shadow: #1d1d1d1c;
    --image-hover-bg: #b6b6b6;
    --image-hover-bg-gradient-target: #646464;
}

#main-progress {
    background-image: linear-gradient(to right, #00d1b2 30%, #ededed 30%) !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --song-title-color: #ddd;
        --song-link-bgcolor: #212121;
        --song-link-bgcolor-hover: #313131;
        --navbar-drop-shadow: #e2e2e21c;
        --image-hover-bg: #494949;
        --image-hover-bg-gradient-target: #646464;
    }
    .button.is-static {
        background-color: #202020;
        border-color: #414141;
        color: #cccccc;
    }
    .button.is-danger {
        background-color: #b30024;
    }
    .box {
        box-shadow: 0 2px 3px rgba(150, 150, 150, .1), 0 0 0 1px rgba(50, 50, 50, .1)
    }
    #main-progress {
        background-image: linear-gradient(to right, #00d1b2 30%, #363636 30%) !important;
    }
    .logo-image {
        filter: invert();
    }
}

.song-container, .album-container {
    width: 70%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.inline-link {
    /* Inherits from .box */
    color: inherit !important;
    /* Make it easier to click */
    padding: 10px 10px 10px 0;
    position: relative;
}

.welcome, .notfound-box {
    margin-top: 2.5% !important;
    width: 50%;
    margin: 0 auto;
}

.delete-cover {
    margin-top: 3%;
}

.song-title-link {
    color: var(--song-title-color);
}

.song-title-link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.title-container {
    padding-bottom: 1%;
}

.removepadding {
    padding-bottom: 0 !important;
}

.cover-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing, .abort-form {
    width: 70%;
    margin: 0 auto;
    padding-top: 1%;
}

.similar, .unknown-album {
    width: 50%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.media-left {
    /* Since all generated preview images have 60px */
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.media-left>img {
    border-radius: 5px;
}

.cover-image-size {
    padding: 0.5%;
    color: var(--song-title-color);
}

.album-songs {
    width: 100%;
    margin: 0 auto;
}

.album-songs-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#main-progress {
    display: none;
    animation-timing-function: cubic-bezier(.65, .05, .36, 1);
}

.listing.search {
    padding-top: 3.5%;
}

.save-all-button {
    margin-top: .5em;
}

.song-link.box {
    margin-bottom: 2em !important;
    position: relative;
}

.album-songs>a.song-link.box {
    margin-bottom: 2em !important;
}

.song-link {
    overflow-y: hidden;
    background-color: var(--song-link-bgcolor);
    transition: background-color .1s ease-in;
}

.song-link:hover {
    background-color: var(--song-link-bgcolor-hover);
}

.song-media {
    overflow-y: hidden;
}

a.box:focus, a.box:hover {
    box-shadow: initial !important;
}

#instantclick-bar {
    background: red;
}

.link-button {
    pointer-events: initial !important;
}

.file-label {
    display: block !important;
    width: 100%;
}

.image-column {
    padding-top: 6.5%;
}

.album-image-column {
    padding-top: 2%;
}

.add-form {
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
}

#abort-button {
    margin: 0 auto;
}

.columns.notfound {
    width: 60%;
    margin: 0 auto;
}

.column.notfound-text {
    padding-top: 10%;
}

.notif:empty {
    display: none;
}

.title {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: .5% !important;
}

.title.is-6 {
    padding-top: .5%;
    padding-bottom: .5%;
    margin-bottom: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 3%;
    top: 0px;
    filter: drop-shadow(0 0 0.25rem var(--navbar-drop-shadow));
}

#search-suggestions {
    display: block !important;
}

#search-suggestions:empty {
    display: none !important;
}

#search-suggestions>a.navbar-item {
    padding-left: .375em !important;
    padding-right: .375em !important;
    padding-top: .275em !important;
}

#search-suggestions>a.navbar-item>span {
    overflow-x: hidden !important;
}

.search-selected {
    background: var(--song-link-bgcolor-hover);
}

.content-container {
    padding-top: 3.5%;
}

.audio-controls {
    border-radius: 4px;
}

a.button.is-static {
    width: 80px;
}

.song-image-container, .album-image-container {
    background: var(--image-hover-bg);
    background: linear-gradient(45deg, var(--image-hover-bg) 0%, var(--image-hover-bg-gradient-target) 100%);
    border-radius: 10px;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.song-listing-meta {
    width: 80%;
    display: table-caption;
    padding-left: 2%;
}

.title.is-5 {
    margin-bottom: 0;
}

.content>p {
    margin-bottom: .1% !important;
    margin-top: .025%;
}

.listing>a {
    padding-top: 30px;
}

#song-cover {
    object-fit: cover;
    border-radius: 10px;
    /* No need to color this for dark/light, will be overwritten by the primary cover color anyways */
    border: 3px solid #ddd;
}

.control.wide {
    width: 100%;
}

.control.wide>* {
    width: 100%;
}

.normal-title {
    margin-top: .5em;
    margin-bottom: 0.25em !important;
}

.middle {
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.song-image-container:hover img, .album-image-container:hover img {
    opacity: .1;
}

.song-image-container:hover .middle, .album-image-container:hover .middle {
    opacity: 1;
}

.control :not(.control-label) {
    width: 100%;
}

div.field.has-addons {
    width: 100%;
}

.overflow-ignore {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.overflow-ignore>* {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    display: flex;
    padding-bottom: 1.5em;
}

.home-link {
    width: 125px;
}

.home-link>img {
    margin: 0 auto;
}

/* Phone Screen */

@media screen and (max-width: 800px) {
    .listing, .song-container, .album-container, .abort-form, .add-form {
        width: 90%;
        margin-top: 10%;
    }
    .subtitle {
        padding-top: 5%;
    }
    .search-image-div {
        display: none;
    }
}
