{{ template "head.html" . }}
{{with .Info }}
<section class="hero is-info">
    <div class="hero-body">
        <h1 class="title">
            {{.Name}}
        </h1>
        {{if and (haveI .YearStart .YearEnd) (not (eq .YearStart .YearEnd))}}
        <h2 class="subtitle">
            {{.YearStart}}-{{.YearEnd}}
        </h2>{{end}}
    </div>
</section>

{{range .Albums}}
{{if have .Title}}
    {{template "album-item.html" . }}
{{else}}
    <div class="listing unknown-album">
        <h2 class="title is-2 has-text-centered">{{.AlbumTitle}}</h2>
        {{range .Songs}}
            {{ template "song-item.html" . }}
        {{end}}
    </div>
{{end}}
{{end}}

{{with .Featured}}
<div class="listing similar">
    <h4 class="title is-4">Featured in</h4>
    {{range .}}
        {{ template "song-item.html" . }}
    {{end}}
</div>{{end}}

{{end}}
{{ template "foot.html" . }}
