</div>
<script data-no-instant src="/assets/js/instantclick.min.js"></script>
<script data-no-instant src="/assets/js/reconnecting-websocket.min.js"></script>
<script data-no-instant src="/assets/js/common.min.js"></script>
<script data-no-instant src="/assets/js/events.js"></script>
<script data-no-instant src="/assets/js/song.min.js"></script>
<script data-no-instant src="/assets/js/album.min.js"></script>
<script data-no-instant src="/assets/js/add.min.js"></script>
<script data-no-instant src="/assets/js/search.min.js"></script>
<script data-no-instant src="/assets/js/pages.min.js"></script>
<script data-no-instant src="/assets/js/shortcuts.min.js"></script>
<script src="/assets/js/mobile.min.js"></script>
<script data-no-instant>InstantClick.init("mousedown");</script>
</body>
</html>