<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css?v=2">

    <!-- Song Page Assets -->
    <link rel="stylesheet" href="/assets/css/bulma-switch.min.css">

    <title>{{.Title}}</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="home-link navbar-item" href="/">
                <img src="/assets/fav/safari-pinned-tab.svg" alt="Music Server">
            </a>
            <a class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/songs">
                    <span class="bd-emoji">🎵</span> &nbsp;Songs
                </a>
                <a class="navbar-item" href="/artists">
                    <span class="bd-emoji">🎙️</span> &nbsp;Artists
                </a>
                <a class="navbar-item" href="/years">
                    <span class="bd-emoji">📅</span> &nbsp;Years
                </a>
            </div>

            <div class="navbar-end">
                <span data-no-instant class="navbar-item">
                    <progress id="main-progress" class="progress is-small is-primary"></progress>
                </span>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/incomplete" class="navbar-item">
                            <span class="bd-emoji">🏷️</span> &nbsp;Incomplete Songs
                        </a>
                        <a href="/unsynced" class="navbar-item">
                            <span class="bd-emoji">❌</span> &nbsp;Unsynced Songs
                        </a>
                        <div class="is-hidden-mobile">
                        <hr class="navbar-divider">
                        <span class="help navbar-item">External links</span>
                        <a href="https://github.com/xarantolus/sensibleHub" rel="noopener noreferrer" class="navbar-item">
                            <span class="bd-emoji">⭐</span> &nbsp;GitHub
                        </a>
                        </div>
                    </div>
                </div>

                <form id="search-form" class="navbar-item" action="/search">
                    <div id="search-container" class="control has-icons-left has-icons-right is-small">
                        <input id="search-bar" value="{{ query . }}" name="q" class="input is-small is-rounded" type="text" placeholder="Search">
                        <span class="icon is-small is-left">🔍</span>
                    </div>
                </form>
                <a class="navbar-item" href="/add">
                    <span class="bd-emoji">📝</span> &nbsp;Add
                </a>
            </div>
        </div>
    </nav>
    <div class="content-container">