<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5"> -->

    <link rel="stylesheet" type="text/css" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css">

    <!-- Song Page Assets -->
    <link rel="stylesheet" href="/assets/css/bulma-switch.min.css">

    <title>{{.Title}}</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="home-link navbar-item" href="/">
                <img src="/assets/fav/safari-pinned-tab.svg" alt="Music Server">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/songs">
                    <span class="bd-emoji">🎵</span> &nbsp;Songs
                </a>
                <a class="navbar-item" href="/artists">
                    <span class="bd-emoji">🎙️</span> &nbsp;Artists
                </a>
                <a class="navbar-item" href="/years">
                    <span class="bd-emoji">📅</span> &nbsp;Years
                </a>
            </div>

            <div class="navbar-end">
                <span data-no-instant class="navbar-item">
                    <progress id="main-progress" class="progress is-small is-primary"></progress>
                </span>
                <a class="navbar-item" href="/add">
                    <span class="bd-emoji">🔍</span> &nbsp;Add
                </a>
            </div>
        </div>
    </nav>
    <div class="content-container">