<div class="song-link box" id="song-{{.ID}}">
    <article class="media cover-center">
    <div class="media-left"{{with .PictureData.DominantColorHEX}} style="background-color:{{.BorderColor}}"{{end}}><img data-no-instant loading="lazy" id="img-{{.ID}}" src="/song/{{.ID}}/cover?size=small" width="60" height="60"></div>
        <div class="media-content song-media">
            <div class="content">
                    <a class="song-title-link" href="/song/{{.ID}}"><strong>{{.MusicData.Title}}</strong></a>  
                    {{if have .MusicData.Artist .MusicData.Album}}
                    <p><a class="inline-link" href="/album/{{.MusicData.Artist | clean}}/{{.MusicData.Album | clean}}">{{.MusicData.Album}}</a></p>
                    {{end}}
                    {{if have .MusicData.Artist}}
                    <p><a class="inline-link" href="/artist/{{.MusicData.Artist | clean}}">{{.MusicData.Artist}}</a></p>{{end}}
            </div>
        </div>
    </article>
</div>