<a class="song-link box" id="song-{{.ID}}" href="/song/{{.ID}}">
    <article class="media">
        <div class="media-left"><img data-no-instant loading="lazy" id="img-{{.ID}}" src="/song/{{.ID}}/cover?size=small" width="60" height="60"></div>
        <div class="media-content song-media">
            <div class="content">
                    <strong>{{.MusicData.Title}}</strong>  
                    {{if have .MusicData.Artist .MusicData.Album}}
                    <p><object><a class="inline-link" href="/album/{{.MusicData.Artist | clean}}/{{.MusicData.Album | clean}}">{{.MusicData.Album}}</a></object></p>
                    {{end}}
                    {{if have .MusicData.Artist}}
                    <p><object><a class="inline-link" href="/artist/{{.MusicData.Artist | clean}}">{{.MusicData.Artist}}</a></object></p>{{end}}
            </div>
        </div>
    </article>
</a><br>